@use 'base' as *;

.card {
  width: $card-width;
  display: flex;
  flex-direction: column;
  border: 1px solid $color-border;
  padding: $card-padding;
  padding-top: 32px;

  &__title {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0%;
    margin-bottom: 4px;
    color: $color-dark;
  }

  &__code {
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0%;
    color: $color-muted;
    margin-bottom: 16px;
  }

  &__image {
    display: block;
    margin: 0 auto 40px;
    width: 160px;
    height: 134px;
  }

  &__review {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    align-items: flex-end;
  }

  &__review-count {
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    text-align: right;
    vertical-align: bottom;
    color: $color-dark;
  }

  &__price {
    display: flex;
    justify-content: space-between;
    margin-bottom: $card-padding;
  }

  &__price-price {
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: right;
    vertical-align: bottom;
    color: $color-dark;
  }

  &__price-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0%;
    vertical-align: bottom;
    color: $color-muted;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 40px;
    border: 1px solid $color-accent;
    background: $color-accent;
    border-radius: 5px;
    font-size: 14px;
    line-height: 16px;
    color: $color-white;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      color: $color-accent;
      background-color: $color-white;
    }
  }
}
